SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_TOKEN=

SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=PROJECT_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_CORTEX_SEARCH_SERVICE=SUPPORT_TICKETS_SEARCH_SERVICE
