SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_TOKEN=

MISTRAL_API_KEY=<

SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=PROJECT_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_CORTEX_SEARCH_SERVICE=RESOLVED_TICKETS_SEARCH
