SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_TOKEN=

OPENAI_API_KEY=<same as SNOWFLAKE_TOKEN>
OPENAI_BASE_URL=https://<SNOWFLAKE_ACCOUNT>.snowflakecomputing.com/api/v2/cortex/v1

SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=PROJECT_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_CORTEX_SEARCH_SERVICE=SUPPORT_TICKETS_SEARCH_SERVICE
